{% extends 'admin/base.html.twig' %}

{% block title %}Mes catégories d'articles{% endblock %}

{% block body %}

<h2>Toutes nos catégories d'articles</h2>

"Ici on mettra toutes les categories d'articles et en cliquant dessus on aura les articles voulu en focntion de la categories choisi "

{% endblock %}
