{% extends 'base.html.twig' %}

{% block title %}La bric O'tech - Conditions générales d'utilisation{% endblock %}

{% block body %}

<section  class="row static">
    <div class="image col-md"><img src="{{ asset('assets/images/charte/cgu.png') }}"></div>
    <div class="text col-md align-self-center">
        <h1><small>La Bric O’tech :</small><br>
            Conditions générales d'utilisation
        </h1>
        <h3>Voici toutes les CGU de la Bric O'tech</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A sunt accusamus distinctio error repellat minima tempora atque enim doloribus nesciunt? Doloribus facilis ducimus ex illum, pariatur error! Corrupti modi reiciendis repellendus molestiae repudiandae! Expedita vitae veniam, tenetur harum repudiandae reprehenderit illo dolorem! Molestiae maiores hic obcaecati quisquam sit vero labore eaque sed eos quo, ab perspiciatis illo blanditiis iure. Beatae, corporis! Deleniti voluptate quae necessitatibus, illo modi tempore eius nesciunt porro, est eveniet dignissimos? Totam libero iusto suscipit recusandae. Consequuntur fugiat odio voluptate minima deserunt facere aut ullam, explicabo cum iusto obcaecati porro impedit. Natus, maiores odit rerum ipsa aperiam animi, doloremque consequuntur error eaque dolorem suscipit qui, ducimus totam repudiandae sint. Laudantium autem eius dolorem? Dolores sunt quasi corporis quas iusto ipsum natus magnam optio voluptatem totam temporibus eveniet animi possimus nam magni deserunt dolor, culpa tempora reprehenderit? Ratione voluptatem recusandae cumque consectetur tempora, architecto neque, eligendi explicabo quibusdam vitae distinctio harum iusto ducimus numquam ipsum dignissimos ipsam modi. Officia obcaecati inventore aperiam, totam beatae soluta nisi asperiores velit ad delectus, nostrum quam, expedita ullam praesentium qui. Ipsa officia eius veniam consequuntur optio, tempore porro officiis facere natus voluptate asperiores vero inventore eligendi nobis id dolores fuga dolore voluptas delectus neque omnis excepturi rerum laboriosam corrupti? Officia eum, voluptatem dicta inventore saepe repellat repellendus sed veritatis recusandae fugit ab a eius debitis perspiciatis, sequi ipsum nam voluptas culpa natus! Doloremque, rerum illo doloribus, quidem a esse alias quis, velit nostrum ducimus facere cupiditate ab reprehenderit enim dolorum iure nobis.</p>
        <h4>The End</h4>
    </div>
</section>

{% endblock %}