{% extends 'base.html.twig' %}

{% block title %}La bric O'tech - Mentions légales{% endblock %}

{% block body %}

<section  class="row static">
    <div class="image col-md"><img src="{{ asset('assets/images/charte/legacy.png') }}"></div>
    <div class="text col-md align-self-center">
        <h1><small>La Bric O’tech :</small><br>
            Mentions légales
        </h1>
        <h3>Responsables de la publication</h3>
        <p>Toute l'équipe de la Bric O'team : solidaire à toute épreuve</p>
        <h3>Réalisation</h3>
        <p>Toute l'équipe de la Bric O'team : solidaire à toute épreuve (oui, on sait, on se répète, mais cela ne nous dérange pas) </p>
        <h3>Hébergement</h3>
        <p>Pour le moment, notre projet est hébergé sur un serveur AWS et sans véritable nom de domaine... mais peut-être un jour, celui-ci aura une véritable adresse toute belle ! </p>
        <h3>Protection des données personnelles</h3>
        <h4>Un peu de sérieux dans tout ça...</h4>
        <p>Les informations obtenues par le biais du formulaire de contact sont destinées au seul usage de La Bric O'tech et ne seront en aucun cas mises à disposition de tierces parties.</p>
        <p>En application de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez des droits d’opposition (art. 26 de la loi), d’accès (art. 34 à 38 de la loi) et de rectification (art. 36 de la loi) des données vous concernant.</p>
        <p>Pour l’exercer, adressez vous au responsable du site par mail via la page « contact » du site.</p>
        <h3>Propiété intellectuelle</h3>
        <p>Ce site web (textes, photographies, illustrations, logos, icônes, fichiers disponibles en téléchargement) constitue une œuvre protégée en France par le Code de la Propriété Intellectuelle, et à l’étranger par les conventions internationales en vigueur sur le droit d’auteur. La violation de l’un des droits d’auteur de l’œuvre est un délit de contrefaçon passible aux termes de l’article L.335-2 du Code de la Propriété Intellectuelle, de trois ans d’emprisonnement et de 300 000 Euros d’amende.</p>
        <h3>Création de liens vers ce site</h3>
        <p>La Bric O'tech  autorise la mise en place de liens hypertextes redirigeant vers ses pages, sous réserve :</p>
        <ul>
            <li>que ces liens ne soient pas créés en utilisant la technique du "lien profond" et par conséquent que l'activation du lien ne puisse laisser aucun doute sur l'adresse du site visité et qu'elle s'affiche dans une fenêtre du navigateur indépendante de la fenêtre d'origine,</li>
            <li>que ces liens soient sans relation avec un quelconque site Internet diffusant des informations à caractère discriminatoire, raciste, pornographique, xénophobe, pédophile, ou pouvant, d'une façon générale, porter atteinte à la morale ou aux bonnes mœurs.</li>
        </ul>
    </div>
</section>

{% endblock %}