{% extends 'admin/base.html.twig' %}

{% block title %}La Bric O'tech - Ajouter une image pour les Bricosphère{% endblock %}

{% block body %}

<h1>Ajouter une image pour les Bricosphère</h1>

{{ form_start(form) }}
   
    {{ form_widget (form)}}

    <button class="bouton">Ajouter</button>

{{ form_end(form) }}
{% endblock %}
