{% extends 'base.html.twig' %}

{% block title %}La bric O'tech - page 403{% endblock %}

{% block body %}

<section  class="row col-10 m-auto">
    <div class="image col-md"><img src="{{ asset('assets/images/charte/403.png') }}"></div>
    <div class="text col-md align-self-center">
        <h1><small>La Bric O’tech :</small><br>
            Page 403
        </h1>
        <p>Hey jeune Bric O'lo ! Es-tu bien sûr que tu es autorisé à voir cette page ?? La Bric O’tech a son lot de secrets...</p>
        <p class="error"><a href="/" class="bouton error">Retour à l'accueil</a> Ou connecte toi en cliquant là-haut !</p>
    </div>
</section>

{% endblock %}