{% extends 'base.html.twig' %}

{% block title %}La bric O'tech - page 404{% endblock %}

{% block body %}

<section  class="row col-10 m-auto">
    <div class="image col-md"><img src="{{ asset('assets/images/charte/404.png') }}"></div>
    <div class="text col-md align-self-center">
        <h1><small>La Bric O’tech :</small><br>
            Page 404
        </h1>
        <p>Tu t’es égaré jeune Bric’ Olo... Cette page n’existe pas... Es-tu bien sûr que ce site parle de glace fondue ?? </p>
        <a href="/" class="bouton error">Retour à l'accueil</a>
    </div>
</section>

{% endblock %}